html {
  font-size: 62.5%; }

a {
  font-size: 2rem;
  color: white; }

body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive;
  font-size: 2.5rem; }

p {
  font-size: 1.6rem; }

li {
  font-size: 1.6rem; }

h2 {
  color: #3046C5; }

#reserveModal .modal-header {
  background-color: #17A2B8; }
  #reserveModal .modal-header h2 {
    color: white; }

#loginModal .modal-header {
  background-color: purple; }
  #loginModal .modal-header h2 {
    color: white; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#5637DD, #3046C5);
  padding: 20px 0;
  color: white; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #5637DD, #3046C5, #60106B);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #413c69; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637DD; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }
